# Mini Proyecto Python Data Science




- Iniciamos con muchas variables.
- Elegimos algunas de las variables. 
- Usamos árboles y regresión.
>>Los árboles de decisión son un tipo de algoritmo de machine learning para  modelos predictivos.
>>La representación del modelo de árbol de decisión es un árbol binario. Cada nodo representa una única variable de entrada (x) y un punto de división en esa variable (asumiendo que la variable es numérica).
>>Los nodos de hoja del árbol contienen una variable de salida (y) que se utiliza para hacer una predicción. Las predicciones se realizan recorriendo las divisiones del árbol hasta que llegan a un nodo hoja y generan el valor de clase en ese nodo hoja.

In [1]:
#importar librerías
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [2]:
#Cargar los datos
casas_data = pd.read_csv('PreciosCasa.csv') 
casas_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [30]:
casas_data.shape

(13580, 21)

In [31]:
casas_data.count()

Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
Method           13580
SellerG          13580
Date             13580
Distance         13580
Postcode         13580
Bedroom2         13580
Bathroom         13580
Car              13518
Landsize         13580
BuildingArea      7130
YearBuilt         8205
CouncilArea      12211
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
dtype: int64

In [3]:
# Los datos tienen algunos valores faltantes (algunas casas para las cuales no se registraron algunas variables).
# Por lo tanto, tomaremos la opción más simple por ahora y eliminaremos casas de nuestros datos.
# dropna  elimina los renglones con valores faltantes 
casas_data_completos = casas_data.dropna(axis=0)
casas_data_completos.shape

(6196, 21)

In [33]:
casas_data_completos.count()

Suburb           6196
Address          6196
Rooms            6196
Type             6196
Price            6196
Method           6196
SellerG          6196
Date             6196
Distance         6196
Postcode         6196
Bedroom2         6196
Bathroom         6196
Car              6196
Landsize         6196
BuildingArea     6196
YearBuilt        6196
CouncilArea      6196
Lattitude        6196
Longtitude       6196
Regionname       6196
Propertycount    6196
dtype: int64


## Sacamos la Columna del Precio 
### Lo que queremos predecir

In [4]:
y = casas_data_completos.Price

# Seleccionando Variables "Features"

Las columnas que se ingresan en nuestro modelo (y luego se usan para hacer predicciones) se conocen como "Features". En nuestro caso, esas serían las columnas utilizadas para determinar el precio de la vivienda.El proceso de seleccionar esas "Features" se conoce como "Feature Engineering"

Construiremos un modelo con solo algunas "Features" o Variables.

In [5]:
casas_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

En general , Estas variables se conocen como  **X**

In [6]:
X = casas_data_completos[casas_features]

Ahora revisamos los datos que vamos a utilizar para predecir precios de las casas

In [10]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [40]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954


# Construir el Modelo


Usamos la biblioteca scikit-learn para crear los modelos. Al codificar, esta biblioteca se escribe como sklearn. s.


Los pasos para construir el modelo son:
* **Definir :**  ¿Qué tipo de modelo será? ¿Un árbol de decisión? ¿Algún otro tipo de modelo? También se especifican algunos otros parámetros del tipo de modelo.
* **Fit Ajustar parámetros y Entrenar :** Ajustar el modelo con parte de los datos. Este es el corazón del modelado.
* **Predecir:** Usar el modelo para hacer predicciones.
* **Evaluar:** determinar la precisión de las predicciones del modelo.

En este ejemplo usamos un modelo de árbol de decisiones con scikit-learn

In [11]:
# Definir el modelo . 
casas_model = DecisionTreeRegressor(random_state=1)

# Hacer el entrenamiento del modelo
casas_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [12]:
print('Haciendo Predicciones para 5 casas:')
print(X.head())
print('Las predictions son:')
print(casas_model.predict(X.head()))

Haciendo Predicciones para 5 casas:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
Las predictions son:
[1035000. 1465000. 1600000. 1876000. 1636000.]